# API Configuration
NEXT_PUBLIC_API_URL=http://eezysend-nlb-871901cdb8bcb72b.elb.eu-west-1.amazonaws.com/eezysend

# App Configuration
NEXT_PUBLIC_APP_NAME=EezySend
NEXT_PUBLIC_APP_URL=http://localhost:3000
